<form
  [formGroup]="taskForm"
  (ngSubmit)="onSubmit(formDirective)"
  #formDirective="ngForm"
>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Task Title</mat-label>
      <input matInput formControlName="title" placeholder="Enter task title" />
      <mat-error
        *ngIf="
          taskForm.get('title')?.hasError('required') &&
          taskForm.get('title')?.touched
        "
      >
        Task title is required
      </mat-error>
      <mat-icon matSuffix>assignment</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Task Description</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Enter task description"
      />
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </div>

  <button
    mat-fab
    extended
    color="primary"
    type="submit"
    [disabled]="!taskForm.valid"
  >
    <mat-icon inline="true">add_circle</mat-icon>
    Add Task
  </button>
</form>
